/* Styles pour les articles */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
}

.img-article {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.titre-article {
    font-size: 1.2em;
    margin: 10px 0;
}

.description-article {
    display: none; /* Masque la description dans la vue initiale */
    font-size: 0.9em;
    color: #555;
}

.prix-article {
    font-weight: bold;
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

/* Styles pour la modale */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.modal-content {
    padding: 20px;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
