#entcontact {
    padding-right: 15px;
    transition: font-size 0.3s ease;

}

#entcontact>a {
    color: black;
    font-size: medium;
    transition: font-size 0.3s ease;
}

#entcontact>a.shrink {
    font-size: small;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
    min-width: 300px;

}

header>a {
    color: black;
    font-size: medium;
    transition: font-size 0.3s ease;
}


article>section>section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

/* Style ddu carroussel*/
.carousel {
    display: flex;
    overflow: hidden;
    max-height: 500px;
}

.carousel img {
    width: auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Styles pour les flèches */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/**/

.lire-suite-checkbox {
    display: none;
}

.lire-suite-label {
    color: gray;
    background-color: white;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.lire-suite-label .label-text:after {
    content: "Lire la suite";
}

.lire-suite-checkbox:checked~.lire-suite-label .label-text:after {
    content: "Réduire";
}

.lire-suite-label:hover {
    text-decoration: underline;
}

.lire-suite-checkbox:checked~.suite {
    display: block;
}

.suite {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.lire-suite-checkbox:checked~.suite {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.btn-retour {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.btn-retour:hover {
    background-color: #2980b9;
}

footer {
    margin-top: 15%;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        padding-bottom: 20%;
        align-items: center;
    }
}